.header {
  top: 0;
  position: sticky;
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-secondary);
  z-index: 9;
  box-shadow: 0px 3px 3px 0px #00000017;
}
.header a{
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.buttonContainer{
  margin-right: 5%;
  display: flex;
  align-items: center;
}

/* countdown */
.coundownContainer h4{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #ff5757;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Upload Btn */
.uploadBtn{
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid var(--color-button-border);
  width: 105px;
  height: 25px;
}