.HomeForm{
  position: relative;
}

/* Upload Btn */
.uploadBtn{
  position: absolute;
  top: 75px;
  width: 100%;
}
.uploadBtn button{
  background: transparent;
  border: 1px dashed #00c2cb;
  color: var(--color-text-primary);
  padding: 6px 14px;
  border-radius: 5px;
  display: block;
  font-size: .9rem;
  font-family: Poppins;
  margin: 0 auto;
}
.uploadBtn button:hover{
  background: #00c2cb;
  box-shadow: 0 0 5px #00c2cb;
  outline: none;
  color: #fff;
}