.container {
  height: 100%;
  width: 100%;
  padding-bottom: 3px;
}
.wrapper{
  width: calc(100% - 40px);
  max-width: 360px;
  height: 64px;
  border: 1.5px solid var(--color-progress);
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.progressBar{
  background: var(--color-progress);
  width: 100%;
  height: 100%;
  transition: transform 250ms linear;
  transform: scaleX(0);
  transform-origin: left;
}
.upperSection{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upperSection h6 {
  margin: 0;
  padding: 0;
  margin-right: 16px;
  font-weight: 400;
  color: var(--color-text-primary);
}
.progressLine {
  position: absolute;
  left: 0;
  bottom: 0.5px;
  height: 2px;
  border-radius: 1px;
  background: #03a9f4;
  width: calc(100% - 16px);
  margin-bottom: 8px;
  margin-left: 8px;
  transition: transform 200ms linear;
  transform: scaleX(0);
  transform-origin: left;
}