.main{
  background: var(--color-bg-secondary);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin: 15px auto 50px auto;
  width: 90%;
  max-width: 400px;
}

.uploadWrapper{
  width: calc(100%-40px);
  height: 160px;
  padding: 20px;
}
.uploadDotted{
  border: 1px dotted #0288d1;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.icons{
  width: 25%;
  max-width: 100px;
  position: relative;
}

.container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container:hover {
  background: var(--color-bg-upload-hover)
}
.container input {
  display: none;
}

.left{
  position: absolute;
}
.right {
  position: absolute;
}
.icons:hover .right{
  transform: rotate(10deg) scale(0.9) translateX(20px);
  transition: all 300ms ease-in-out;
}
.icons:hover .left{
  transform: rotate(-10deg) scale(0.9) translateX(-20px);
  transition: all 300ms ease-in-out;
}
.icons:hover .center {
  transform: translateY(-5px);
  transition: all 300ms ease-in-out;
}
.container h4{
  font-size: 12px;
  font-weight: 400;
  margin: 10px 0 0 0;
  padding: 0;
  color: var(--color-text-primary);
}
